<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Baskervville' rel='stylesheet'>
    <title>Book Analyzer</title>
</head>
<body>
    <div class="container">
        <div class="row span-two-columns"><h1>Book Analyzer {{ book_title }}</h1></div>
        <div class="row">
        <div class="column"><h1>Summary</h1><br>
            {{ book_summary }} </div>
            <div class="column"><h1>Characters</h1>
    <ul>
        {% set amount = 0 %}
        {% for person in unique_characters %}
            <li>{{ person }}</li>
        {% endfor %}
    </ul></div>
        </div>
        <div class="row">
            <div class="column"><h1>Buttons</h1> <br>
                <div class="books" style="width:200px;">
                    <label class="book_menu">
                    <form action="/process" method="post">
                    <select id="chosen_book" name="chosen_book" required>
                    {% for book in book_list %}
                        <option value="{{ book }}" required>{{ book }}</option>
                    {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                    </form>
                    </label>
                </div>
             </div>
            </div>
         </div>
    </div>

</body>
</html>