<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Baskervville' rel='stylesheet'>
    <title>Test</title>
</head>
<body>
    <div class="container">
        <div class="row span-two-columns"><h1>Book Analyzer</h1></div>
        <div class="row">
            <div class="column"><h1>Summary</h1><br>
            Lorem </div>
            <div class="column"><h1>Characters</h1>
            Lorm
            </div>
        </div>
        <div class="row">
            <div class="column"><h1>Buttons</h1> <br>
                <div class="books" style="width:200px;">
                    <label class="book_menu">
                    <select>
                    {% for book in book_list %}
                        <option value="{{ book }}">{{ book }}</option>
                    {% endfor %}
                    </select>
                    <label>
                                <form action="/process" method="post">
                                    <input type="text" id="user_output" name="user_output" required>
                                    <button type="submit">Submit</button>
                                </form>
                        </label>

                </div>
             </div>
            </div>
    <h1>{{ user_output }}</h1>
        </div>
    </div>

</body>
</html>